name: iRacing Discord Alert

on:
  schedule:
    - cron: "*/5 * * * *"
  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - run: pip install requests

      - run: python watcher.py
        env:
          # Loginu i hasła już nie potrzebujemy, ale mogą zostać
          DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK_URL }}
          IRACING_COOKIE: ${{ secrets.IRACING_COOKIE }} # <--- TO JEST NOWOŚĆ
